html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $minWidth;
  min-height: 100vh;
  margin: 0;
  position: relative;
  font-family: 'Calibri', Arial, sans-serif;
  font-size: 19 / 1920 * 100vw;
  line-height: 1em;
  color: #fff;
  background-color: #000;

  position: relative;

  &::before,
  &::after  {
    content: '';
    height: 45%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  &::before {
    top: 0;
    background-image: linear-gradient(#0c0c0c, transparent);
  }

  &::after {
    bottom: 0;
    background-image: linear-gradient(transparent, #111111);
  }
}

header,
main,
footer {
  z-index: 5;
}

button,
a {
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    animation: linear 25s scale infinite;
    z-index: 0;
  }

  svg {
    position: absolute;
    height: 100%;
    z-index: 1;
  }
  
  polygon {
    fill: #191919;
  }
}

.button {
  display: inline-block;
  padding: 0;
  border: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 10 / 1920 * 100vw 0 140 / 1920 * 100vw;
  position: relative;
}

@media (max-width: 1366px) {
  .container {
    padding: 0 5 / 1920 * 100vw 0 150 / 1920 * 100vw;
  }
}

@media (max-width: $max-width-lg) {
  body {
    font-size: 19px;
  }

  .background::after {
    background-image: url('../images/background-mob.png');
    background-size: contain;
  }

  .container {
    padding: 0 50px;
  }
}

@media (max-width: $max-width-md) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}