.page-header__container {
  display: flex;
  justify-content: flex-end;
}

.page-header__logo {
  width: 215 / 1920 * 100vw;
  height: 58 / 1920 * 100vw;
  margin-right: auto;
  margin-top: 60 / 1920 * 100vw;
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  margin-top: 80 / 1920 * 100vw;
}

.email {
  margin-right: 50 / 1920 * 100vw;
  padding: 0 0 0 100 / 1920 * 100vw;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 43 / 1920 * 100vw;
    position: absolute;
    top: 20%;
    left: 0;
    background-image: url('../images/email.svg');
    background-size: cover;
    background-position: left;
  }
}

.phone {
  margin-right: 56 / 1920 * 100vw;
  padding: 0 0 0 90 / 1920 * 100vw;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 37 / 1920 * 100vw;
    position: absolute;
    top: 40%;
    left: 0;
    background-image: url('../images/phone.svg');
    background-size: cover;
    background-position: left;
  }
}

.button__write-us-1 {
  display: inline-block;
  margin-right: -20 / 1920 * 100vw;
  padding: 0 0 4 / 1920 * 100vw 8 / 1920 * 100vw;
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;

  &::before {
    content: '';
    width: 1px;
    height: 18 / 1920 * 100vw;
    position: absolute;
    left: -6 / 1920 * 100vw;
    bottom: -3 / 1920 * 100vw;
    background-color: #fff;
    transform: rotate(-40deg);
  }

  &::after {
    content: '';
    width: 61 / 1920 * 100vw;
    height: 8 / 1920 * 100vw;
    position: absolute;
    bottom: -14 / 1920 * 100vw;
    right: -6 / 1920 * 100vw;
    background-image: url(../images/red-parallelogram.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header-contacts__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button__write-us-2 {
  width: 226 / 1920 * 100vw;
  height: 160 / 1920 * 100vw;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/button-message.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: '';
    width: 40 / 1920 * 100vw;
    height: 29 / 1920 * 100vw;
    position: absolute;
    top: 52%;
    left: 39%;
    background-image: url(../images/message.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.button__download {
  width: 120 / 1920 * 100vw;
  height: 90 / 1920 * 100vw;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    width: 100%;
    height: 120 / 1920 * 100vw;
    position: absolute;
    top: -25 / 1920 * 100vw;
    right: -5 / 1920 * 100vw;
    background-image: url(../images/button-download.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.button__download-text {
  color: #fff;
  position: absolute;
  top: 14 / 1920 * 100vw;
  right: 100%;
  font-size: 15 / 1920 * 100vw;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: $max-width-lg) {
  .page-header__container {
    padding: 0 5px 0 50px;
  }

  .page-header__logo {
    width: 215px;
    height: 58px;
    margin-right: auto;
    margin-top: 60px;
  }

  .header-contacts__wrapper {
    display: none;
  }

  .button__write-us-1 {
    display: none;
  }

  .button__write-us-2 {
    width: 226px;
    height: 160px;
  
    &::after {
      width: 40px;
      height: 29px;
    }
  }
  
  .button__download {
    width: 120px;
    height: 90px;
  
    &::before {
      content: '';
      height: 120px;
      top: -25px;
      right: -5px;
    }

    .button__download-text {
      display: none;
    }
  }
}

@media (max-width: $max-width-md) {
  .page-header__container {
    padding: 0 5px 0 50px;
  }
}

@media (max-width: $max-width-sm) {
  .page-header__container {
    padding: 0 5px 0 10px;
  }

  .page-header__logo {
    max-width: 180px;
    margin-top: 30px;
  }

  .button__write-us-2 {
    width: 170px;
    height: 125px;

    &::after {
      width: 30px;
      height: 23px;
      top: 51%;
    }
  }

  .button__download {
    width: 95px;
    height: 105px;
  }
}