.page-footer {
  top: -20px;
  right: 40px;
  position: relative;
}

.page-footer__container {
  display: flex;
  justify-content: flex-end;
}

.page-footer__button {
  width: 40px;
  height: 46px;
  margin-right: 5px;
  position: relative;

  &::before {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: -3px;
    background: #fff;
  }
}

.page-footer__button:last-child {
  margin-right: 0;

  &::before {
    content: initial;
  }
}

.page-footer__button:hover .page-footer__button-img {
  display: none;
}

.page-footer__button:hover .page-footer__button-img--active {
  display: block;
}

.page-footer__button--active .page-footer__button-img {
  display: none;
}

.page-footer__button--active .page-footer__button-img--active {
  display: block;
}


.page-footer__button-img--active {
  display: none;
}