.slider {
  padding: 0 100px 0 110px;
}

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-info {
  position: relative;

  &::before {
    content: '';
    width: 156px;
    height: 254px;
    position: absolute;
    top: -180%;
    left: -15%;
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  &::after {
    content: '';
    width: 156px;
    height: 254px;
    position: absolute;
    top: 20%;
    left: 80%;
    background-image: url(../images/bg-text.png);
    background-repeat: no-repeat;
    opacity: 0.7;
  }
}

.slider-content__numbers {
  position: relative;
}

.slider-content__number-big {
  height: 124px;
  width: 224px;
  position: absolute;
  top: -100px;
  left: -90px;
}

.slider-content__number-small {
  width: 60px;
  position: absolute;
  top: -40px;
  left: 0;
}

.slider-content__img-title {
  width: 336px;
  position: relative;
}

.slider-content__descr {
  max-width: 480px;
  margin: 0;
}

.slider-content__items {
  width: 600px;
  height: 600px;
  margin-right: 40px;
  position: relative;
}

.slider-items__img-circle {
  animation: rotate 5s infinite;
}

.slider-items__product {
  width: 70%;
  margin: -35% 0 0 -35%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.slider-actions {
  margin-top: -60px;
  margin-bottom: 68px;
}

.slider-actions__prev {
  width: 69px;
  height: 79px;
  margin-right: 70px;
  position: relative;

  &::before {
    content: '';
    width: 130px;
    height: 215px;
    position: absolute;
    top: -80px;
    left: -45px;
    background-image: url(../images/button-prev.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.slider-actions__next {
  width: 69px;
  height: 79px;
  position: relative;

  &::before {
    content: '';
    width: 145px;
    height: 230px;
    position: absolute;
    top: -83px;
    left: -35px;
    background-image: url(../images/button-next.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
  }
}
