$minWidth: 320px;
$maxWidth: 1920px;

$maxWidthContainer: 1700px;

$width-xl: $maxWidthContainer + 12;

$min-width-md: 992px;
$max-width-lg: 991.98px;

$min-width-md: 768px;
$max-width-md: 767.98px;

$min-width-sm: 576px;
$max-width-sm: 575.98px;

$color-active: #62d1ba;